# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
Logs/
*.log

# OS files
Thumbs.db

# Environment specific
# appsettings.Development.json
appsettings.json
# Publish output
publish/